/* ปุ่มเพิ่มโพสต์หน้า community */
.add {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

/* popupเพิ่มโพสต์หน้า community */
.popup {
    position: fixed;
    bottom: 550px;
    right: 880px;
}

/* div content ของ community */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* set the height to full viewport height */
}

.contentPost {
    justify-items: center;
    align-items: center;
    background-color: #798486;
}

.header {
    position: relative;
    background-color: rgb(51, 52, 54);
    width: 650px;
    height: 100px;
    color: aliceblue;
}

.body {
    background-color: aquamarine;
    position: relative;
    width: 650px;
    height: 600px;
}

.bottom {
    background-color: rgb(41, 41, 41);
    position: relative;
    width: 650px;
    height: 120px;
    color: aliceblue;
}

/* bottom add */
#fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}